onlineshopping/src/main/mule/onlineshopping.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43445e87-a698-492f-b5f1-ed772c94ae5f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="products" doc:id="facf777d-dc33-419d-a04b-20dc11454d3c" >
		<http:listener doc:name="Listener" doc:id="86a85fb4-184f-492c-836b-43886e0745f3" config-ref="HTTP_Listener_config" path="/products"/>
		<ee:transform doc:name="Transform Message" doc:id="4bc0fa17-6130-44ef-a770-ae59895ff70a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    "categoryid": 0,
    "description": "laptop",
    "name": "HP laptop",
    "price": 0,
    "productid": 0,
    "video_url": "http://hp.com/latops"
  },
    {
    "categoryid": 1,
    "description": "laptop",
    "name": "DELL laptop",
    "price": 0,
    "productid": 101,
    "video_url": "http://dell.com/latops"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a582a003-2d18-4790-8bc7-e6075c858d3d" message="#[payload]"/>
	</flow>
	
		<flow name="productid" doc:id="168903c2-2897-4a60-aec8-efbabc2ba213" >
		<http:listener doc:name="Listener" doc:id="d3b594d7-9435-4300-bb0e-c9823a6526a4" config-ref="HTTP_Listener_config" path="/products/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="838bc7b0-370c-42b4-99e4-ff9aad10e0de" variableName="id"/>
		<logger level="INFO" doc:name="Logger" doc:id="610dbedf-bac9-4bca-876e-1928df5eed24" message="#[vars.id]"/>
		<ee:transform doc:name="Transform Message" doc:id="84d9bbd7-1ca8-40bc-99f6-0460c1727907" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 {
    "categoryid": 0,
"description": "laptop",
"name": "HP laptop",
"price": 0,
"productid": 0,
"video_url": "http://hp.com/latops"
  }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="95c4ac00-5c9c-4761-bd3d-4c34394331d8" message="#[payload]"/>
	</flow>
</mule>
